body{
    background-image: url(images/lilypads/lilypads.png);
    height: 100%
}
#main-container{
    background:rgba(245,245,245);
    padding-bottom: 15px;
    margin-top:10px;
}
.auth-img{
    height: 60%;
    width: 40%;
}

img{
    width:auto;
    height:auto
}
.navbar-brand{
    font-family: 'Indie Flower', cursive;
}

#linkedIn{
    height:40%!important;
    width: 60% !important;
}
#contact{
    text-align: center;
    
}
h1{
    font-family: 'Kalam', cursive;
    color: rgba(5, 117, 148, 1);
    text-shadow: 2px 1px black;
}
.auth-image{
    padding-top: 2px;
    height: 215px;
    width: 190px !important;
}
.card-img-top {height: 12rem;}

